
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container-body {
  min-height: 600px;
  margin: 20px 0 0;
}
.col-form-label {
  text-align: right;
  font-weight: 700;
}
.userInput{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.selectState,
.formname{
  width: 21%;
  border: 1px solid #999;
  border-radius: 3px;
  height: 38px;
}
.fileUpload {
  border: 1px solid #999;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 600;
  width: 21%;
  height: 38px;
  padding: 3px;
}
.abbreviation{
  width: 21%;
  height: 38px;
  outline: none;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
